.card {
background: rgba(204, 243, 229, 0.924);
  text-decoration: none;
  color: rgb(59, 55, 55);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border: solid 1px;
}

.card:hover {
    top: -2px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    background: rgba(90, 94, 94, 0.687);
    color: rgb(244, 244, 244);
  }
.card .thumb {
    padding-top: 5%;
    padding-bottom: 0%;
    background-size: cover;
    background-position: center center;
  }

  .card h3 {
    padding: 6px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .card h5 {
    font-size: 15px;
  }
img {
    width: 75%;
  
}
