body {
    background-position: fixed;
    background: rgb(255, 255, 255);
    display: unset;
  }

.container {
    display:flex;
    flex-direction:column;
    
}


.container > div {
    padding: 20px;
    margin: 20px;
}
.container-card-detail {
    display: grid;
    grid-gap: 20px;
}

.container-top {
   padding: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #666666;
    border-radius: 0 0 10px 10px;    
}

.container-bottom {
     border: 1px solid #666666;
    border-radius: 0 0 10px 10px;
    
}

.bloque-iz {
    width: 50%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img img {
    width: 35%;
    border-radius:9px;
    overflow: hidden;
}

.bloque-der {
    margin-left:0;
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0.5em;
    height: auto;
    word-wrap: break-word;
}

.bloque-der .span-text {
    font-size: 1.1em;
    align-items: flex-start;
    margin-left:  10px;
    display:flex;
    flex-direction: column;
    padding: 0;

}
.bloque-der .span-text span {
    display: flex;
    flex-direction: row;
    align-items: baseline;
   margin-top: 0;
   padding: 0;
}
.bloque-der .span-text span p {
    font-weight: bold;
 }

.bloque-der h2 h3 {
    font-size: 1.2em;
    text-align: left;
}



.btn {
    border-radius: 6px;
    background-color: rgb(22, 95, 140); 
    color: rgb(253, 253, 253); 
    border: 2px solid  rgb(22, 95, 140);
    width: auto;
    height: auto;
    color: white;
    padding: 8px 28px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
/* Al poner el curso encima (hover) */

.btn:hover {
    background-color: #008CBA;
    color: white;
    width: auto;
}


     .actividades-list {
        display: flex;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around
     }

     .actividades {
        display: flex;
        flex-direction: column;
        
     }
     .actividades li {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style:none
     }

     .actividades li ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        margin-top: 1em;
        padding: 0;
        
     }
     .actividades li ul h3 {
        margin-bottom: 0;        
     }
     .actividades li ul p {
        margin-bottom: 2em;        
     }

     @media only screen and (max-width: 600px) {
        .container-top, .container-bottom {
            padding: 10px;
             display: flex;
             flex-direction: column;
             align-items: center;
             border: 1px solid #666666;
             border-radius: 0 0 10px 10px;    
         }


     }
