.detail {
    background-image: url(../../public/bg.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 200%;
    background-repeat: no-repeat;
    margin-top: 70px;
    height: 800px;
}
.card-detail {
    background-color: rgba(160, 219, 231, 0.795);
   padding: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    background-color: rgba(249, 249, 249, 0.869);
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-left:auto;
    margin-right: auto;
    align-items: center;
    overflow: hidden;
}

.bloque-izq {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#card-img img {
    width: 50%;
    border-radius:9px;
    overflow: hidden;
}

.bloque-der {
    margin-left: 10px;
    position: relative;
    display: block;
    font-size: 0.9em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0.5em;
    height: auto;
    word-wrap: break-word;
}
.bloque-der .span-text {
    align-items: flex-start;
    margin-left:  10px;
    display:flex;
    flex-direction: row;

}
.bloque-der .span-text span {
       padding: 1em;
}

.bloque-der h2 h3 {
    font-size: 1.2em;
    text-align: left;
}

.btn {
    /* Color del texo */
    
    color: #0099CC;
    /* Eliminar color de fondo */
    
    background: transparent;
    /* Grosor del borde, estilo de línea y color */
    
    border: 2px solid #0099CC;
    /* Añadir esquinas curvadas */
    
    border-radius: 6px;
    /* Poner texto en mayúsculas */
    
    border: none;
          color: rgb(219, 39, 39);
          padding: 8px 28px;
          text-align: center;
          display: inline-block;
          font-size: 12px;
          margin: 4px 2px;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          cursor: pointer;
          text-decoration: none;
          text-transform: uppercase;
    }
    .btn {
          background-color: rgb(22, 95, 140); 
          color: rgb(253, 253, 253); 
          border: 2px solid  rgb(22, 95, 140);
    }
    /* Al poner el curso encima (hover) */
    
    .btn:hover {
          background-color: #008CBA;
          color: white;
     }

     .actividades-list {
        display: flex;
        flex-direction: column;
        height: auto;
        word-wrap: break-word;
        overflow: hidden;
        align-items: flex-start;
     }
     .actividades li {
        list-style:none
     }