.detail {
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-position: fixed;
    margin-top: 70px;
    height: 800px;
}

.card-detail {
    background-color: rgba(160, 219, 231, 0.795);
   padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.contenedor {
    padding-top: 0%;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    background-color: rgba(249, 249, 249, 0.869);
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    align-items: flex-start;
    overflow: hidden;
    
}

.bloque-iz {
    width: 50%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img img {
    width: 35%;
    border-radius:9px;
    overflow: hidden;
}

.bloque-der {
    margin-left:0;
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0.5em;
    height: auto;
    word-wrap: break-word;
}

.bloque-der .span-text {
    font-size: 70%;
    align-items: flex-start;
    margin-left:  10px;
    display:flex;
    flex-direction: column;

}
.bloque-der .span-text span {
   margin-top: 0;
   padding: 0;

}

.bloque-der h2 h3 {
    font-size: 1.2em;
    text-align: left;
}

.bloque-inf {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    background-color: rgba(249, 249, 249, 0.869);
    min-width: 100%;
    display: flex;
    flex-direction: column;
   height: auto;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 10%;
}
.bloque-inf p {
    padding-top: 0%;
}

.btn {
    border-radius: 6px;
    background-color: rgb(22, 95, 140); 
    color: rgb(253, 253, 253); 
    border: 2px solid  rgb(22, 95, 140);
    width: auto;
    height: auto;
    color: white;
    padding: 8px 28px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
/* Al poner el curso encima (hover) */

.btn:hover {
    background-color: #008CBA;
    color: white;
    width: auto;
}


     .actividades-list {
        display: flex;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
     }
     .actividades li {
        list-style:none
     }

     .actividades li ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        margin-top: 1em;
        
     }
     .actividades li ul h3 {
        margin-bottom: 0;        
     }
     .actividades li ul p {
        margin-bottom: 2em;        
     }