/* * {
  margin: 0;
  padding: 0;
} */


body {
  background-position: fixed;
  background: rgb(255, 255, 255);
  display: unset;
}

.container-home {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, auto);

  /* width: 90%;
  max-width: 1240px;*/
  margin: 20px;  
}

.container-home > div {
  padding: 20px;
}

.container-home .container-header {
  grid-column-start: 1;
  grid-column-end: 6;
  background: #008CBA;
  grid-row: 1;
  
}

.container-home .container-lateral {
  grid-column-start: 1;
  grid-column-end: 2;
  border: solid 1px;
  border-radius: 0 0 8px 8px;
  grid-row: 2 / 4;
}

.container-home .container-lateral .filters {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.container-home .container-lateral .filters > div {

  padding-top: 2%;
}

.container-home .container-principal {
  grid-column: span 5;
  grid-row: 2 / 4;
  border: solid 1px;
  border-radius: 0 0 8px 8px;
}

.container-home .container-footer {
  grid-column-start: 1;
  grid-column-end: -1;
}


.mostrar-ciudades {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.mostrar-ciudades a {
  text-decoration: none;
}
.card {
      width: 100%
}

@media only screen and (max-width: 600px) {
      .mostrar-ciudades {
        grid-template-columns: repeat(2, 1fr);
      }

      .mostrar-ciudades button {
        width: auto;
        background-color: #008CBA;

      }
      .container-home {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(4, auto);
        font-size: small;
      
        /* width: 90%;
        max-width: 1240px;*/
        margin: 20px;  
      }

      .container-home .container-lateral {

        padding: 0;

      }

      .container-home .container-lateral .filters {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .container-home .container-lateral .filters > div {

        padding-top:0;
      }

            
    }

    @media only screen and (min-width: 920px) {
      
      .mostrar-ciudades {
        grid-template-columns: repeat(3, 1fr);
      }
      
    }
    @media only screen and (min-width: 1200px) {
      .mostrar-ciudades {
        grid-template-columns: repeat(5, 1fr);
      }
            
    }

    .btn {
      border-radius: 6px;
      background-color: rgb(22, 95, 140); 
      color: rgb(253, 253, 253); 
      border: 2px solid  rgb(22, 95, 140);
      width: auto;
      height: auto;
      color: white;
      padding: 8px 28px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      width: auto;
}
/* Al poner el curso encima (hover) */

.btn:hover {
      background-color: #008CBA;
      color: white;
      width: auto;
 }

.paginado {
  margin: 5px 0;
}

.paginado ul {
  list-style: none;
  text-align: center;
}

.paginado ul li {
  display: inline-block;
  margin-right: 5px;
}

.paginado ul li a {
  display: block;
  padding: 5px 10px;
  color: rgb(4, 70, 42);
  background: #feffff;
  text-decoration: none;
  font-size: 7px;
  border: solid 0.1em;
}

.paginado ul li a:hover {
  background: #282a2afd;
  cursor: pointer;
  color: #fff;
  border: solid 0.1em;
}

.paginado ul li .active {
  background: #037e8c;
  font-weight: bold;
}

.search-input {
  width: auto;
}

.btn-search {
      border-radius: 6px;
      background-color: rgb(22, 95, 140); 
      color: rgb(253, 253, 253); 
      border: 2px solid  rgb(22, 95, 140);
      width: auto;
      height: auto;
      color: white;
      padding: 8px 28px;
      text-align: center;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      width: auto;
}
/* Al poner el curso encima (hover) */

.btn-search:hover {
      background-color: #008CBA;
      color: white;
      width: auto;
 }