.contenedor-userlog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.contenedor-userlog div .img-profile img  {
    height: 15px;
    width: 15px;
    border-radius: 35%;
  }