.contenedor-userlog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.img-profile img  {
    height: 15px;
    border-radius: 25%;
    align-items:left;
  }